{{#each this}}
<div class="country-value">
  <div>
    <h1 class="countries-name">{{name}}</h1>
    <p><span class="text">Capital:</span> {{capital}}</p>
    <p><span class="text">Population:</span> {{population}}</p>
    <p><span class="text">Languages:</span></p>
    <ul class="list-country">
      {{#each languages}}
      <li class="lang-list">{{this.name}}</li>
      {{/each}}
    </ul>
  </div>
  <div class="flag-img">
    <img class="flag" src={{flag}} alt={{name}}>
  </div>
</div>
{{/each}}