{{#each this}}
<li>
  <h1 class="countries-name">{{name}}</h1>
  <ul>
    <li>Capital: {{capital}}</li>
    <li>Population: {{population}}</li>
    <li>Languages: {{languages.name}}</li>
  </ul>
  <img src={{flag}}>
</li>
{{/each}}